*{
    margin: 0px;
    padding: 0px;
}

nav a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 20px;
    padding-top: 5px;
}

img{
    height: 200px;
    width: 250px;
}

#image-container{
    border: 2px solid black;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 2px solid red;
    /* background-color: red; */
    /* color: white; */
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}

header{
    background-color: moccasin;
}

#box-container{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    height: 120px;
    width: 400px;
}

#box3{
    flex-grow: 1;
    flex-shrink: 1;
}

#mediabox{
    height: 50px;
    width: 50px;
    background-color: green;
    border: 2px solid black;
}

@media screen and (min-width: 300px) and  (max-width:400px){
    #mediabox{
        background-color: red;;
    }    
}

@media screen and (max-width:400px){
    #mediabox{
        background-color: blue;
    }    
}